body{
    margin: 0;
    height: 100vh;
    margin-top: 100px;
    background-color: lightgray;
}

h1{
    text-align: center;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
}

section div{
    width: 250px;
    height: 250px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
}
/* section div p{
    font-size: 150px;
} */

.linha1 .casa1 {
    border-left: none;
    border-top: none;
}
.linha1 .casa2 {
    border-top: none;
}
.linha1 .casa3 {
    border-top: none;
    border-right: none;
}

.linha2 .casa1 {
    border-left: none;
}
.linha2 .casa2 {

}

.linha2 .casa3 {
    border-right: none;
}

.linha3 .casa1 {
    border-left: none;
    border-bottom: none;
}
.linha3 .casa2 {
    border-bottom: none;
}
.linha3 .casa3 {
    border-right: none;
    border-bottom: none;
}

